<h1>Editing Friendss</h1>
</br>
<%= render 'form', friendss: @friendss %>
</br>
<%= link_to 'Show', @friendss, class:"btn btn-secondary"  %> 
<%= link_to 'Back', friendsses_path, class:"btn btn-secondary"  %>
